/**
 * Author: Kate Tran
 * CSS file for desktop design
 */

/* Wallpaper Style */
#wallpaper {
	background-image: url('./wallpapers/wallpaper.jpg');
	background-size: cover;
	margin: 0px;
	height: 100vh;
	width: 100%;
}

/* Icon Style */
.icon {
	position: absolute;
	text-align: center;
	margin: 15px;
} 

/* Icon Text Style */
.icon-text {
	font-size: medium;
	font-family: 'Levi Windows';
}

/* Folder Style */
.folder {
	background-size: cover;
	width: 60px;
	height: 60px;
}

.windowIcon {
	position: relative;
}