/**
 * Author: Kate Tran
 * CSS file for window design
 */


/* Window Style */
.window {
	position: absolute;
	height: 500px;
	width: 700px;
	top: 30%;
	left: 30%;
	background-color: white;
}

/* Window Container Style */
.container {
	margin: 10px;
}

/* Window Icon Style */
.windowIcon {
	background-size: cover;
	width: 20px;
	height: 20px;
}

/* Header Style */
.header {
	display: flex;
	position: relative;
	text-align: center;
	width: 100%;
}

/* Header Title Style */
.headerTitle {
	display: flex;
	align-items: center;
}

/* Header Path Style */
.headerPath {
	font-size: small;
}

/* Control Panel Style */
.controlPanel {
	margin-left: auto;
}

/* Window Body Style */
.windowBody {
	position: relative;
	border: 2px solid black;
	width: auto;
	height: 80%;
}

/* Footer Style*/
.footer {
	border: 2px solid black;
	width: fit-content;
}
